.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-container .label{
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    margin-bottom: 8px;
    width: 100%;
}